<%- include('includes/topHTML.ejs') %>

<div class="container">
    <header>
        <div class="row">
            <div class="col text-center">
                <h1 class="text-light">Mars Images Browser</h1>
                <p class="text-light fs-2">Browse NASA Mars images and save your preferred ones</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#creatorDetails">
                    Creators Details
                </button>

                <!-- Whom am I Modal -->
                <div class="modal fade" id="creatorDetails" tabindex="-1" aria-labelledby="creatorDetailsLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="creatorDetailsLabel">Creators Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>Dvir meir perkin</h3>
                                <p><a href="mailto:dvirper@edu.hac.ac.il">dvirper@edu.hac.ac.il</a></p>
                                <h3>Yaniv Sonino</h3>
                                <p><a href="mailto:yanivson@edu.hac.ac.il">yanivson@edu.hac.ac.il</a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dark rounded m-1">
            <div class="col">
                <p class="text-light fs-1" >Hello <%= userName %>, Are you ready to explore Mars?</p>
            </div>
            <div class="col">
                <form action="/home/logout" method="post" >
                    <button id="Logout" type="submit" class="rounded">Logout</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="row mt-2 mb-2">
            <div class="col-md-6" id="form">
                <h2 class="rounded bg-dark p-1">Search For Images</h2>
                <form id="SearchForm">
                    <div class="row">
                        <div class="col-12">
                            <label for="Date">Date(YYYY-MM-DD) or Sol</label>
                            <input id="Date" class="form-control" type="text" >
                        </div>

                        <div class="col-12">
                            <label for="Rover">Select Rover:</label>
                            <select id="Rover" class="form-select">
                                <option>Choose Rover</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label for="Camera">Select Camera:</label>
                            <select id="Camera" class="form-select">
                                <option>Choose Camera</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <button id="submit" type="submit" class="rounded m-1">Send</button>
                            <button type="reset" class="rounded m-1">Clear</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <h2 class="rounded bg-dark p-1">Saved Images</h2>
                <button id="StartSlide" type="button" class="rounded">Start slide show</button>
                <button id="StopSlide" type="button" class="rounded">Stop slide show</button>
                <button id="ResetList" type="button" class="rounded">Reset Images List</button>

                <div id="LoadingBuffer" class="text-center">
                    <img alt='loading buffer' class="w-25 " src="/images/loading-buffering.gif">
                </div>
                <ol id="FavoritesList" class="bg-dark bg-opacity-50 rounded overflow-auto" style="max-height: 200px; " >
                </ol>
            </div>
        </div>

        <div id="CarouselContainer" class="row justify-content-center d-none">
            <div class="col-md-4">
                <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div id="Carousel" class="carousel-inner">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div id="ResultsCon" class="row">
            <div class="col-12 mt-2">
                <h2 class="rounded bg-dark p-1">Search Results</h2>
            </div>
            <div class="col-12">
                <div id="Results" class="row">
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Saved Image Modal -->
<div class="modal fade" id="savedImageModal" tabindex="-1" aria-labelledby="savedImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savedImageModalLabel">Image Saved</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Image Already Saved</h3>
                <p>The image you`ve try to save is already saved.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="DeleteModal" class="modal show" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are sure you want to delete this image?</p>
            </div>
            <div class="modal-footer">
                <input id="hiddenID" type="hidden" value="">
                <button id="Delete" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</body>
</html>
