<%- include('includes/topHTML.ejs') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Register</h1>
        </div>
    </div>
    <div class="row justify-content-md-center" >
        <div class="col-6">
            <form id="form" action="/" method="post">
                <input  type="hidden" name="FirstName" value="<%=FirstName%>">
                <input  type="hidden" name="LastName" value="<%=LastName%>">
                <input  type="hidden" id="Email" name="Email"  value="<%=Email%>">

                <div class="form-group mb-3">
                    <label for="Password" class="form-label">Password:</label>
                    <input  type="password" class="form-control" id="Password" name="Password" title="Password must include 8 or more characters" pattern=".{8,}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="ConfirmPassword" class="form-label">Confirm Password:</label>
                    <input  type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" title="Password must include 8 or more characters" pattern=".{8,}" required>
                    <div id="confirmPasswordError" class="invalid-feedback">
                        Password confirmation does not match password
                    </div>
                </div>
                <input type="submit" id="Send" class="btn btn-primary rounded" value="Send">
                <input type="reset" class="btn btn-primary rounded" value="Clear">
            </form>
        </div>
    </div>
</div>
</body>
</html>