<%- include('includes/topHTML.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Register</h1>
            </div>
        </div>

        <% if(typeof massage !== "undefined"){%>
            <div class="row justify-content-md-center">
                <%- include('includes/errorAlert.ejs') %>
            </div>
        <% } %>

        <div class="row justify-content-md-center">
            <div class="col-6">
                <form id="form" action="/register/password" method="post" class="needs-validation">
                    <div class="form-group mb-3">
                        <label for="FirstName" class="form-label">Name:</label>
                        <input  type="text" class="form-control" id="FirstName" name="FirstName" pattern="[A-Za-z]+" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="LastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" pattern="[A-Za-z]+" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Email" class="form-label" >Email:</label>
                        <input type="email" class="form-control" style="text-transform: lowercase" id="Email" name="Email" required>
                        <div id="emailError" class="invalid-feedback">
                            Email is already exist
                        </div>
                    </div>
                    <input type="submit" id="Send" class="btn btn-primary rounded" value="Send">
                    <input type="reset" class="btn btn-primary rounded" value="Clear">
                </form>
            </div>
        </div>
    </div>
</body>
</html>